@import auth.RegisterData
@import b3.vertical.fieldConstructor
@import views.html.components._
@(signUpForm: Form[RegisterData])(implicit messages: Messages, flash: Flash)

@layout(reference.NavReference.Pages.REGISTER) {
    <div class="row">
        <div class="col-md-4 center-block well">
            @if(signUpForm.hasGlobalErrors) {
                <ul class="list-group">
                @for(error <- signUpForm.globalErrors) {
                    <li class="list-group-item list-group-item-danger">@Messages(error.message)</li>
                }
                </ul>
            }
            @flashList()
            @b3.form(action = routes.Auth.submitRegister) {
                @b3.text(signUpForm("username"),
                    '_label -> Messages("const.username")
                )
                @b3.password(signUpForm("password"),
                    '_label -> Messages("const.password")
                )
                @b3.password(signUpForm("confirmPassword"),
                    '_label -> Messages("register.registerForm.confirmPassword.label", Messages("const.password"))
                )
                @b3.email(signUpForm("email"),
                    '_label -> Messages("const.email"),
                    'placeholder -> Messages("register.registerForm.email.placeholder")
                )
                @b3.email(signUpForm("confirmEmail"),
                    '_label -> Messages("register.registerForm.confirmEmail.label", Messages("const.email")),
                    'placeholder -> Messages("register.registerForm.confirmEmail.placeholder")
                )
                @b3.submit('class -> "btn btn-success btn-block") { Register }
            }
        </div>
    </div>
}